/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.height60{
  height: 60px !important;
}

.width150{
  width: 150px !important;
}
/*Login*/
.form-signin {
  max-width: 363px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid {
  padding: 0 15px 0;
  margin-bottom: 60px;
}
.container-fluid .text-muted {
  margin: 20px 0;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

textarea {
  resize: none;
}

.navbar{
	margin-bottom: 5px;
}

.right-block {
  float:right;
  width: 150px;
}

.left-block {
  margin-right: 150px;
}

body {
	padding-top:50px;
}

.panel{
	margin-bottom: 0px;
}

@media (min-width: 768px) {
  #login-btn {
    display: block;
  }

  #sesion.collapse {
    display: none !important;
  }
}

a.user{
  cursor: pointer;
}

a.user.active{
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.strike{
  text-decoration: line-through;
}

a.user.banned{
  text-decoration: line-through;
}

div#chat-messages p {
  margin-bottom: 0;
}

.panel-body{
  padding: 5px;
}

.version{
  font-size: 8px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1205;
}

div.news{
  float: left;
  width: 300px;
}